<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Resume</h2>
      <p>This website is my resume, but sometimes I need a PDF format.</p>
      <p><a class="btn btn-primary" href="Resume.pdf" role="button">View PDF Resume &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Github</h2>
      <p>Feel free to take a tour in my github profile</p>
      <p><a class="btn btn-primary" href="https://github.com/louay-hesham" role="button">To Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Contact Information</h2>
      <ul>
        <li><b>Email:</b> louay.hesham@gmail.com</li>
        <li><a href="https://www.linkedin.com/in/louay-hesham-03296410a/"><b>Linkedin</b></a></li>
        <li><a href="https://www.facebook.com/lo2ay.hesham"><b>Facebook</b></a></li>
      </ul>
    </div>
  </div>
</div>