<ul [pageview]="'Projects'">
	<li>
	  <b>Projects:</b>
	  <ul>
	  	<li>
	  		<b>Personal projects:</b>
		  	<ul>
		  		<li>
		  			<a [eventClick]="'Projects-SSPHelper'" href="https://github.com/louay-hesham/ssp_helper">
		  				<b>SSP Helper</b>
		  			</a>
		  			<b>:</b>
		  			A simple web app that informs the faculty student of what courses they've met its prerequisites. 
		  			<a href="ssp_helper/">Try it now!</a>
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-Website'" href="https://github.com/louay-hesham/PersonalWebsite">
		  				<b>Personal Website</b>
		  			</a>
		  			<b>:</b>
		  			It's the website you're currently on! Built using Angular 5 and Bootstrap. Hosted on an S3 bucket with AWS.
		  		</li>
		    	<li>
		    		<a [eventClick]="'Projects-ScheduleGenerator'" href="https://github.com/louay-hesham/ScheduleGenerator">
		    			<b>Schedule Generator</b>
		    		</a>
		    		<b>:</b> 
		    		A Java GUI app that can be used by any student in SSP (Specialized Scientific Program) in Faculty of Engineering, Alexandria University. The student enters the names and schedules of the different courses they registered, and the program generates the best schedule possible by maximizing the number of days off and minimizing the gaps between lectures/tutorials/labs. It uses brute force technique.
		    	</li>
		    	<li>
		    		<a [eventClick]="'Projects-Alarm+'" href="https://github.com/louay-hesham/AlarmPlus">
		    			<b>Alarm+</b>
		    		</a>
		    		<b>:</b> 
		    		An android alarm app which can set several alarms with one click. Made using C# with Xamarin framework.
		    	</li>
		  	</ul>
	  	</li>
	  	<li>
	  		<b>College projects:</b>
		  	<ul>
		  		<li>
		  			<a [eventClick]="'Projects-SpamFilter'" href="https://github.com/louay-hesham/SpamFilter">
		  				<b>Spam Filter</b>
		  			</a>
		  			<b>:</b> 
		  			A Python code that uses machine learning to differentiate between spam and ham emails.
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-SIC/XE Assembler'" href="https://github.com/tifa64/SIC-XE-Assembler-">
		  				<b>SIC/XE Assembler</b>
		  			</a>
		  			<b>:</b> 
		  			A simulation of a two phase assembler in Java for the SIC/XE instruction set that converts SIC/XE assembly code to machine code.
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-PythonMaze'" href="https://github.com/louay-hesham/PythonMaze">
		  				<b>Python Maze</b>
		  			</a>
		  			<b>:</b> 
		  			A Python code that randomly generates a map and solves it interactively using several search techniques like DFS, BFS, UCS, A* and Greedy.
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-Paint'" href="https://github.com/louay-hesham/Paint">
		  				<b>Paint</b>
		  			</a>
		  			<b>:</b> 
		  			A simple Java paint app that supports several functions like drawing several predefined shapes, copying, rotating, moving and resizing shapes.
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-PipelinedMIPS'" href="https://github.com/louay-hesham/PipelinedMIPS">
		  				<b>Pipelined MIPS Processor</b>
		  			</a>
		  			<b>:</b> 
		  			A simulation of a MIPS pipelined processor using SystemVerilog.
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-MulticycledMIPS'" href="https://github.com/louay-hesham/MultiCycleMIPS">
		  				<b>Multicycle MIPS Processor</b>
		  			</a>
		  			<b>:</b> 
		  			A simulation of a MIPS multicycled processor using SystemVerilog
		  		</li>
		  		<li>
		  			<a [eventClick]="'Projects-SingleCycledMIPS'" href="https://github.com/louay-hesham/SingleCycleMIPS">
		  				<b>Singlecycle MIPS Processor</b>
		  			</a>
		  			<b>:</b> 
		  			A simulation of a MIPS singlecycled processor using SystemVerilog
		  		</li>
		  	</ul>
	  	</li>
	  </ul>
	</li>
</ul>