<div class="jumbotron">
  <div class="container">
    <h1>Welcome to my personalized web profile!</h1>
    <p>
      I'm an undergraduate software development engineer. This is my personal website that I made be my online resume.<br>
      I'm currently enrolled in Faculty of Engineering, Computer and Communications department in Alexandria university seeking my bachelor's degree.
    </p>

    <h3>Quick info</h3>
    
    <ul>
      <li><b>Full Name:</b> Louay Hesham Saber Mohamed Morsi</li>
      <li><b>City of residence:</b> Alexandria, Egypt</li>
      <li><b>Age:</b> 21 years old</li>
    </ul>

    <div align="Center">
    	<button class="btn btn-primary col-md-2" (click)="toggle(0)">Work Experience</button>
    	<button class="btn btn-primary col-md-2" (click)="toggle(1)">Education</button>
    	<button class="btn btn-primary col-md-2" (click)="toggle(2)">Awards & Achievments</button>
    	<button class="btn btn-primary col-md-2" (click)="toggle(3)">Projects</button>
    	<button class="btn btn-primary col-md-2" (click)="toggle(4)">Skills</button>
    </div>
    <br>
    <app-work-experience *ngIf="checkVisibility(0)"></app-work-experience>
    <app-education *ngIf="checkVisibility(1)"></app-education>
    <app-awards *ngIf="checkVisibility(2)"></app-awards>

    <app-skills *ngIf="checkVisibility(4)"></app-skills>

  </div>
</div>