<ul [pageview]="'Skills'">
	<li>
		<b>Skills:</b>
		<ul>
			<li>
				<b>Programming languages:</b>
				<ul>
					<li>Ruby</li>
					<li>Python</li>
					<li>Java</li>
					<li>C#</li>
					<li>C/C++</li>
					<li>Javascript</li>
					<li>Typescript</li>
					<li>HTML</li>
					<li>SystemVerilog (Hardware Description Language)</li>
				</ul>
			</li>
			<li>
				<b>Frameworks and Technologies:</b>
				<ul>
					<li>Angular 5/6</li>
					<li>Django</li>
					<li>Ruby on Rails</li>
					<li>Xamarin</li>
					<li>Spring</li>
					<li>Hibernate</li>
					<li>Google Analytics</li>
					<li>
						Some AWS services like:
						<ul>
							<li>SNS</li>
							<li>SQS</li>
							<li>RDS</li>
							<li>Cloud Formation</li>
							<li>S3</li>
							<li>Route 53</li>
							<li>Quick Sight</li>
							<li>IAM</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<b>Other Skills:</b>
				<ul>
					<li>Native Arabic speaker and fluent in English</li>
					<li>Object Oriented Programming</li>
					<li>Basic circuit design and simulation using Proteus</li>
					<li>Basic 3D design using Sketch Up </li>
				</ul>
			</li>
		</ul>
	</li>
</ul>