<main role="main">
      
      <app-quick-info></app-quick-info>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Resume</h2>
            <p>A resume is the best thing to know about a person's skills and work experience. You can check my resume here</p>
            <p><a class="btn btn-primary" href="Resume.pdf" role="button">View Resume &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Projects</h2>
            <p>You can find most of the projects I worked on hosted on github. Feel free to take a tour</p>
            <p><a class="btn btn-primary" href="https://github.com/louay-hesham" role="button">To Github &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Contact Information</h2>
            <ul>
              <li><b>Email:</b> louay.hesham@gmail.com</li>
              <li><a href="https://www.linkedin.com/in/louay-hesham-03296410a/"><b>Linkedin</b></a></li>
              <li><a href="https://www.facebook.com/lo2ay.hesham"><b>Facebook</b></a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /container -->

    </main>