<ul [pageview]="'Education'">
	<li>
    <b>Education:</b>
    <ul>
      <li>
				<i>BSc. in Computer and Communication Engineering</i> from <b>Faculty of Engineering, Alexandria University (2014 - 2019)</b>
        <ul>
          <li>Computer and communications department</li>
          <li>Graduated with a GPA of 3.74/4</li>
        </ul>
      </li>
      <li>
        <b>Riada Language School (2011 - 2014)</b>
        <ul>
          <li>Thanaweya Amma (Egyptian high school diploma). Mathematics section.</li>
          <li>Graduated highschool with a score of 96%</li>
        </ul>
      </li>
      <li><b>Alexandria Language School (2000 - 2011)</b></li>
    </ul>
  </li>
	<li>
    <b>Courses:</b>
    <ul>
      <li>
				<i>Alexandria Quantum Computing Summer School (Jul 2019)</i> held at <b>Faculty of Science, Alexandria University</b>
        <ul>
          <li>A one week course that provided an introduction for many quantum computing topics.</li>
					<li>These topics included:
						<ul>
							<li>Introduction to Quantum Computing</li>
							<li>Basics of Quantum Computing</li>
							<li>Quantum Circuits</li>
							<li>Reverible Computing</li>
							<li>Quantum Communication and Cryptography</li>
							<li>Quantum-dot Cellular Automata (QCA)</li>
							<li>Quantum Error Correction</li>
							<li>Quantum Algorithms</li>
							<li>Introduction to Quantum Information Theory</li>
							<li>Quantum State Tomography using IBMQ</li>
							<li>Quantum Machine Learning</li>
						</ul>
					</li>
					<li>For a full list and description of the topics, see my
						<a [eventClick]="'Footer-Github'" href="AlexQCSS.pdf">attendance certificate</a>.
					</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
