<ul [pageview]="'Education'">
	<li>
    <b>Education:</b>
    <ul>
      <li>
        <b>Faculty of Engineering, Alexandria University (2014 - 2019)</b>
        <ul>
          <li>Computer and communications department</li>
          <li>Expected graduation in spring of 2019</li>
          <li>Current GPA is 3.73/4</li>
        </ul>
      </li>
      <li>
        <b>Riada Language School (2011 - 2014)</b>
        <ul>
          <li>Thanaweya Amma (Egyptian high school diploma). Mathematics section.</li>
          <li>Got a score of 96%</li>
        </ul>
      </li>
      <li><b>Alexandria Language School (2000 - 2011)</b></li>
    </ul>
  </li>
</ul>
