<ul>
	<li>
	  <b>Work Experience:</b>
	  <ul>
	    <li>
	    	Intern Software Development Engineer at <b>Amazon Web Service in Cape Town</b> (Sep - Nov 2017)<br>
	    	<ul>
	    		<li>
	    			Was responsible for data migration for some of the metrics. Also improved the service that generates those metrics using Ruby and several AWS services like RDS, SQS, SNS and Cloud Formation.
	    		</li>
	    	</ul>
	    </li>
	    <li>
	    	Teacher at <b>Mindz Training Center</b> (Mar - May & Aug 2017)<br>
	    	<ul>
	    		<li>
	    			Taught children of ages from 8 to 16 years old basic robotics design princinples on Lego Mindstorms EV3 kit and basic robotics programming using the EV3 software.
	    		</li>
	    	</ul>
	    </li>
	    <li>
	    	Intern Software Development Engineer at <b>Microsoft Advanced Technology Lab in Cairo</b> (Jul - Aug 2016)<br>
	    	<ul>
	    		<li>
	    			Developed the statistics page for LUIS (Language Understanding Intelligent Service), one of Microsoft’s cognitive services, using C#, JavaScript, and HTML. Also developed a telemetry service to track user interaction with the website, using Angular 2, Typescript and Jade, which integrates Google Analytics service into the webpage.
	    		</li>
	    	</ul>
	    </li>
	    <li>
	    	Intern Software Development Engineer at <b>Eventum IT Solutions in Alexandria</b> (Feb 2016)<br>
	    	<ul>
	    		<li>
	    			Trained on database design, modeling, mapping and manipulating of relational databases, MySQL queries, JavaScript, HTML, CSS, and Java using Spring Framework.
	    		</li>
	    	</ul>
	    </li>
	    <li>
	    	Coach and Teacher at <b>Notions Development Academy</b> (Feb - Jul 2015)<br>
	    	<ul>
	    		<li>
	    			Coached two teams in RoboCup Junior competition, lightweight soccer category. They won first and second position in the Egyptian regionals competition, won Best Super Team Integration​, Best Poster​, Super Team Champions​ and Best Teamwork ​in the international competition.
	    		</li>
	    		<li>
	    			Taught children of ages from 11 to 14 years old basic robotics design princinples on Lego Mindstorms NXT 2.0 kit and basic robotics programming using the Mindstorms NXT 2.0 software.
	    		</li>
	    	</ul>
	    </li>
	  </ul>
	</li>
</ul>