<ul>
	<li>
	  <b>Work Experience:</b>
	  <ul>
	    <li>Intern Software Development Engineer at <b>Amazon Web Service in Cape Town</b> (Sep - Nov 2017)</li>
	    <li>Teacher at <b>Mindz Training Center</b> (Jul - Aug 2017)</li>
	    <li>Intern Software Development Engineer at <b>Microsoft Advanced Technology Lab in Cairo</b> (Jul - Aug 2016)</li>
	    <li>Intern Software Development Engineer at <b>Eventum IT Solutions in Alexandria</b> (Feb 2016)</li>
	    <li>Coach and Teacher at <b>Notions Development Academy</b> (Feb - Jul 2015)</li>
	  </ul>
	</li>
</ul>