<div class="jumbotron" [pageview]="'Home'">
  <div class="container">
    <h1>Welcome to my personalized web profile!</h1>
    <p>
      I'm an undergraduate software development engineer. This is my personal website that I made be my online resume.<br>
      I'm currently enrolled in Faculty of Engineering, Computer and Communications department in Alexandria university seeking my bachelor's degree.
    </p>

    <h3>Quick info</h3>

    <ul>
      <li><b>Full Name:</b> Louay Hesham Saber Mohamed Morsi</li>
      <li><b>City of residence:</b> Alexandria, Egypt</li>
      <li><b>Date of birth:</b> 4th of May, 1996</li>
    </ul>

    <div align="Center">
      <button *ngFor="let button of buttons; let i = index"
              class="{{buttonClass(i)}}"
              (click)="itemClicked(i)"
              style="margin: 5px">
        <i class="{{buttonIcon(i)}}" aria-hidden="true"></i> {{button}} <i class="{{buttonIcon(i)}}" aria-hidden="true"></i>
      </button>
    </div>
    <br>
    <app-work-experience *ngIf="selectedIndex == 0"></app-work-experience>
    <app-education *ngIf="selectedIndex == 1"></app-education>
    <app-awards *ngIf="selectedIndex == 2"></app-awards>
    <app-projects *ngIf="selectedIndex == 3"></app-projects>
    <app-skills *ngIf="selectedIndex == 4"></app-skills>

  </div>
</div>
