<ul>
	<li>
    <b>Awards and Achievments:</b>
    <ul>
      <li>
        <b>2015:</b>
        <ul>
          <li>9th place in <b>Alex CPC</b> ​(Alexandria Collegiate Programming Contest)</li>
          <li>
          	Coached two teams in RoboCup Junior competition, lightweight soccer category. They won first and second position in the Egyptian regionals competition, won <b>Best Super Team Integration​, Best Poster​, Super Team Champions​</b> and <b>Best Teamwork</b> ​in the international competition
          </li>
        </ul>
      </li>
      <li>
        <b>2014:</b>
        <ul>
          <li>Participated in <b>ACM ECPC</b> ​(Egyptian Collegiate Programming Contest)</li>
          <li>
          	1st place on Egypt in <b>WRO</b> ​(World Robotics Olympiad) ​competition, soccer category. Qualified to the international rounds in Sochi, Russia
        	</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>