<ul>
	<li>
    <b>Awards and Achievments:</b>
    <ul>
      <li>
        <b>2015:</b>
        <ul>
          <li>9th place in <b>Alex CPC</b> ​(Alexandria Collegiate Programming Contest)</li>
          <li>
          	Coached two teams in RoboCup Junior competition, lightweight soccer category. They won first and second position in the Egyptian regionals competition, won <b>Best Super Team Integration​, Best Poster​, Super Team Champions​</b> and <b>Best Teamwork</b> ​in the international competition
          </li>
        </ul>
      </li>
      <li>
        <b>2014:</b>
        <ul>
          <li>Participated in <b>ACM ECPC</b> ​(Egyptian Collegiate Programming Contest)</li>
          <li>
          	1st place on Egypt in <b>WRO</b> ​(World Robotics Olympiad) ​competition, soccer category. Qualified to the international rounds in Sochi, Russia
        	</li>
        </ul>
      </li>
      <li>
      	<b>2013:</b> 1st place on Egypt in <b>WRO</b> competition, soccer category. Made it to the top 16 on the world in the internationals in Jakarta, Indonesia
      </li>
      <li>
      	<b>2012:</b> 2nd place on Egypt in <b>WRO</b> competition, soccer category. Qualified to the international rounds in Kuala Lumpur, Malaysia.
      </li>
      <li>
      	<b>2011:</b> 3rd place on Egypt in <b>WRO</b> competition, soccer category. Qualified to the international rounds in Abu Dhabi, UAE.
      </li>
      <li>
      	<b>2010:</b> Participated in the <b>EOI</b> ​(Egyptian Olympiad in Informatics)
      </li>
    </ul>
  </li>
</ul>